:root {
  --amarillo: #f9c41f;
  --gris: #838886;
  --negro: #000000;
  --blanco: #ffffff;
}

body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: var(--gris) !important;
  display: flex;
  min-height: 100vh;
  position: relative;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 40%;
  height: 70%;
  background: var(--blanco);
  z-index: -1;
}

body::after {
  content: "";
  position: fixed;
  bottom: 0;
  right: 0;
  width: 60%;
  height: 50%;
  background: var(--blanco);
  z-index: -1;
}
